*~
*.o
.deps
.libs
.*.swp
.project
.cproject
.settings
test-driver
/ChangeLog
/CREDITS

Makefile
Makefile.in

/aclocal.m4
/autom4te.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/compile
/depcomp
/install-sh
/missing
/stamp-h1

/*.gdb
/ioctls.h
/ioctldefs.h
/ioctlsort
/zftrace
/zftrace-cp
/zftrace-ln
/zftrace-filter

/linux/ioctlent.h

/zftrace-*.tar.xz
/build-stamp
/build
/debian/changelog
/debian/files
/debian/zenterio-zftrace
/debian/zenterio-zftrace.substvars
/debian/zenterio-zftrace.debhelper.log
/dist
