*~
\#*\#
.\#*
/.benchmark
/.cache/
/.coverage
/.coverage-*
/coverage*.xml
/debian/
/dist/
/doc/build/
*.egg-info/
/output*/
*.pyc
.pyenv
.python-version
__pycache__
/.venv/
/.venvs/
/.vagrant/

.idea/
/.vscode/

/build/
setup.py
/zpider/version.py

docker/markers/*marker
trace.out